
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

@import "tailwindcss";
@plugin "daisyui";

body{
  font-family: "Cormorant Garamond", serif;
}

.menu a.active{
    text-decoration: underline;
    color: rgb(196, 50, 196);
}

.width {
  @apply w-10/12 mx-auto;
}

